* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url(../images/pawprint_background.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}

body {
    font-family: sans-serif;
    font-size: 100%;
    max-width: 1200px;
    background-color: whitesmoke;
    margin: 0 auto;
    border: 3px solid tan;
    box-shadow: 3px 3px 12px 3px rgb(66, 38, 25);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid tan;
    padding: .5em;
}
header img{
    max-width: 150px;
}

main section{
    padding: 2em;
    line-height: 1.5;
}