* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url(../images/pawprint_background.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}

body {
    font-family: sans-serif;
    font-size: 100%;
    max-width: 1200px;
    background-color: whitesmoke;
    margin: 0 auto;
    border: 3px solid tan;
    box-shadow: 3px 3px 12px 3px rgb(66, 38, 25);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 3px solid tan;
    padding: .5em;
}
header img{
    max-width: 150px;
}
header h2 {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 300%;
    margin-bottom: 3px;
}


#nav_menu {
    border-top: 3px solid tan;
    border-bottom: 3px solid tan;
    background-color: tan;
}
    #nav_menu ul {
    list-style: none;
    display: flex;
}
#nav_menu li {
    width: 20%;
}
#nav_menu a {
    text-align: center;
    display: block;
    padding: .7em 0;
    background-color: tan;
    font-weight: bold;
    text-decoration: none;
    color: white;
}
#nav_menu a:hover {
    color: black;
    background-color: rgb(253, 237, 217);
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
    color: rgb(90, 67, 38);
}
main h2 {
    font-size: 150%;
    padding-bottom: 20px;
}
main h4 {
    font-size: 125%;
    padding-bottom: 5px;
}
.left {
    color: whitesmoke;
    max-width: 25%;
    background-color: tan;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: 2px solid whitesmoke;
    border-bottom: 2px solid whitesmoke;
}
.left img {
    max-width: 200px;
    margin-right: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    border: 2px solid whitesmoke;
    margin-left: 1em;
}
.left h2 {
    padding-top: 1em;
    padding-left: 1em;
}
.left h4 {
    padding-left: 1em;
}
section {
    max-width: 75%;
    padding-left: 1em;
    padding-top: 2em;
}
section p {
    line-height: 21px;
    padding-bottom: .5em;
    text-indent: 2em;
}

/* RETURN TO TOP BUTTON */
#cornerBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(253, 237, 217, 0.5);
    border: 2px solid rgb(90, 67, 38);
    border-radius: 10px;
    color: rgb(90, 67, 38);
    padding: 5px 3px;
}
#cornerBtn:hover {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 2px solid rgb(209, 164, 106);
    border-radius: 10px;
    color: rgb(209, 164, 106);
    padding: 5px 3px;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, tan 0%, white 50%, tan 100%);
    align-items: center;
    padding: 1em;
}
footer img {
    max-width: 50px;
}